{{ header }}
<link rel="stylesheet" href="view/javascript/dealbao/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<style>
    .ztree {
        border: 1px solid #ddd;
        min-height: 550px;
    }
</style>
{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button id="download" data-toggle="tooltip" title="{{ button_download }}"
                        class="btn btn-primary">
                    <i class="fa fa-download"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible">
                <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div id="filter-product" class="col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
                    </div>
                    <div class="panel-body filter_content">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="" class="control-label">
                                        {{ entry_keyword }}
                                    </label>
                                    <input type="text" name="filter_keyword" value="{{ filter_keyword }}"
                                           placeholder="{{ entry_keyword }}" id="input-name" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="" class="control-label">
                                        {{ entry_max_price }}
                                    </label>
                                    <input type="text" name="filter_max_price" value="{{ filter_max_price }}"
                                           placeholder="{{ entry_max_price }}" id="input-name" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="" class="control-label">
                                        {{ entry_min_price }}
                                    </label>
                                    <input type="text" name="filter_min_price" value="{{ filter_min_price }}"
                                           placeholder="{{ entry_min_price }}" id="input-name" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="" class="control-label">
                                    &nbsp;
                                </label>
                                <div class="form-group text-left">
                                    <button type="button" id="button-filter" class="btn btn-default">
                                        <i class="fa fa-filter"></i> {{ button_filter }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
                            <div class="col-sm-2">
                                <div id="cateTree" class="ztree"></div>
                            </div>
                            <div class="col-sm-10">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <td style="width: 1px;" class="text-center">
                                                <input type="checkbox"
                                                       onclick="$('input[name*=\'selected\']').trigger('click');"/>
                                            </td>
                                            <td class="text-center">
                                                {% if sort == 'spu' %}
                                                    <a href="{{ now_url }}&sort=spu&sort_order=desc&gcId={{ gcId }}&level={{ level }}">
                                                        {{ column_id }}
                                                    </a>
                                                {% else %}
                                                    <a href="{{ now_url }}&sort=spu&gcId={{ gcId }}&level={{ level }}">{{ column_id }}</a>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">{{ column_image }}</td>
                                            <td class="text-left">
                                                {#{% if sort == 'goods_name' %}#}
                                                {# <a href="{{ now_url }}&sort=goods_name&gcId={{ gcId }}&level={{ level }}"#}
                                                {#  class="{{ order|lower }}">{{ column_name }}</a>#}
                                                {#{% else %}#}
                                                {# <a href="{{ now_url }}&sort=goods_name&gcId={{ gcId }}&level={{ level }}">#}
                                                {{ column_name }}
                                                {# </a>#}
                                                {#{% endif %}#}
                                            </td>

                                            <td class="text-right">
                                                {% if sort == 'goods_price' %}
                                                    <a href="{{ now_url }}&sort=goods_price&sort_order=desc&gcId={{ gcId }}&level={{ level }}"
                                                       class="{{ order|lower }}">
                                                        {{ column_price }}
                                                    </a>
                                                {% else %}
                                                    <a href="{{ now_url }}&sort=goods_price&gcId={{ gcId }}&level={{ level }}">
                                                        {{ column_price }}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td class="text-right">{{ column_action }}</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if goods_list.data %}
                                            {% for product in goods_list.data %}
                                                <tr>
                                                    <td class="text-center">
                                                        {% if product.spu in selected %}
                                                            <input type="checkbox" name="selected[]"
                                                                   value="{{ product.spu }}"
                                                                   checked="checked"/>
                                                        {% else %}
                                                            <input type="checkbox" name="selected[]"
                                                                   value="{{ product.spu }}"/>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center">
                                                        <span>{{ product.spu }}</span>
                                                    </td>
                                                    <td class="text-center">
                                                        {% if  product.goods_image %}
                                                            <img src="{{ product.goods_image }}"
                                                                 alt="{{ product.goods_name }}"
                                                                 class="img-thumbnail" width="100"/>
                                                        {% else %}
                                                            <span class="img-thumbnail list">
                                                            <i class="fa fa-camera fa-2x"></i>
                                                        </span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-left">{{ product.goods_name }}</td>
                                                    <td class="text-right">{{ product.goods_price }}</td>
                                                    <td class="text-right">
                                                        <a href="{{ edit_link }}&spu={{ product.spu }}"
                                                           data-toggle="tooltip" title="" class="btn btn-primary"
                                                           data-original-title="编辑"><i class="fa fa-pencil"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td class="text-center" colspan="9">{{ text_no_results }}</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-4 text-left page_results"
                                         style="line-height: 36px;">{{ results }}</div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="view/javascript/dealbao/zTree_v3/js/jquery.ztree.all.min.js"></script>
<script type="text/javascript">
    /**
     * data
     */
    let data_dealbao = '{{ data_dealbao }}';
    let user_token = '{{ user_token }}';
    let sort = '{{ sort }}';
    let page = '{{ page }}';
    let limit = '{{ pageSize }}';
    let cate_id = '{{ gcId }}';
    let level = '{{ level }}';
    let sort_order = '{{ sort_order }}';
    let filter_keyword = '{{ filter_keyword }}';
    let filter_max_price = '{{ filter_max_price }}';
    let filter_min_price = '{{ filter_min_price }}';
    let base_url = data_dealbao +
        '&user_token=' + user_token +
        '&sort_order=' + sort_order +
        '&sort=' + sort +
        '&filter_keyword=' + filter_keyword +
        '&filter_max_price=' + filter_max_price +
        '&filter_min_price=' + filter_min_price;

    /**
     * search filter
     */
    $('#button-filter').on('click', () => {
        let url = '';

        {% if sort %}url += '&sort={{ sort }}';{% endif %}

        $.each($('.filter_content input'), function () {
            let filter = $(this).val();
            let filter_name = $(this).attr('name');
            if (filter) url += '&' + filter_name + '=' + encodeURIComponent(filter);
        })

        $.each($('.filter_content select'), function () {
            let filter = $(this).val();
            let filter_name = $(this).attr('name');
            if (filter) url += '&' + filter_name + '=' + encodeURIComponent(filter);
        })

        window.location = '{{ data_dealbao }}&user_token={{ user_token }}&gcId={{ gcId }}&level={{ level }}' + url;
    });

    /**
     * download data to website
     */
    $("#download").on('click', () => {
        let spu = [];
        $('input[name="selected[]"').each(function () {
            if ($(this).is(':checked')) spu.push($(this).val());
        })
        if (spu.length === 0) {
            layer.msg('{{ please_select_product }}');
            return;
        }
        window.location = '{{ goods_download }}&spu=' + spu.join(',');
    })

    /**
     * zTree data
     */
    let treeData = {{ cate_list }};
    let setting = {
        callback: {
            onClick: (event, treeId, treeNode) => {
                let cateId = treeNode.gc_id;
                let level = treeNode.level + 1;
                window.location = base_url + '&page=1&limit=' + limit + '&gcId=' + cateId + '&level=' + level;
            }
        },
        data: {
            key: {
                name: 'gc_name',
            }
        }
    };

    /**
     * load zTree document
     */
    let zTreeObj = $.fn.zTree.init($("#cateTree"), setting, treeData);
    if (cate_id !== '') {
        let node = zTreeObj.getNodeByParam('gc_id', cate_id);
        let expandNode = node;
        if (node.children === undefined || node.children === null)
            expandNode = node.getParentNode();
        zTreeObj.expandNode(expandNode);
        zTreeObj.selectNode(node);
    }
</script>

{{ footer }}
